* {
  border: 1px solid red;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.headerImage {
  height: 448px;
  background: linear-gradient( rgba(39, 145, 202, .2), rgba(39, 145, 202, .2)),
  url("images/abstract_painting_160_by_vansc14-d606kky.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  display: block;
}

.headShot img {
  border-radius: 50% 50%;
  position: relative;
  padding: 0;
  margin: 60px;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.ribbon {
  background-color: #0B53A0;
  height: 20px;
  border: black 1px;
}

img {
  border: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

nav {
  nav {
  padding: 0px 0px 0px 0px;
  max-width: 1165px;
  min-width: 510px;
  margin: 0px auto;
  position: relative;
  z-index: 999;
  margin-top: -20px;
  top: 50px;
  right: 10px;
}
